<div ng-controller="ClientsFormController">
	<div class="ui basic segment layout _loader" ng-if="__httpStack.length">
		<div class="ui active inverted dimmer">
			<div class="ui text loader">Loading...</div>
		</div>
	</div>

	<div class="ui error message" ng-if="error">
		{{error}}
	</div>
	
	<form class="ui segment form" name="clientForm" angular-validator angular-validator-submit="submit()" novalidate>
		
		<div class="field">
			<label for="">Name</label>
			<input type="text" ng-model="client.name" name="_name" required>
		</div>
		<div class="field">
			<label for="">Email</label>
			<input type="email" ng-model="client.email" name="price" required>
		</div>
		
		<div class="field" align="right">
			<a href="#/" class="ui button">Cancel</a>
			<button class="ui negative button" ng-click="delete()" ng-if="client._id">Delete</button>
			<button class="ui positive button">Save</button>
		</div>

		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading content...</div>
		</div>
	</form>
</div>